
html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    /* Modifie la couleur de fond + la couleur du texte */
    background : rgb(42, 42, 46);
    color : whitesmoke;
}

.centre, main {
    width: 90%;
    margin: 0 5%;
}

/*  Grille pour bien placer les objets */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* header grid */
.title {
    grid-column: 2/6;
}
nav {
    grid-column: 8/12;
}

/* section main */
h2, p{
    grid-column: 2/12;
}
.Calculons {
    grid-column: 2/7;
}
#Plan3D {
    grid-column: 8/12;
}

/*  Titre / paragraphe / image en sticky   */
#Plan3D h2{
    position: sticky;
    top: 1em;
    left: 1em;
}
#Plan3D p {
    position: sticky;
    top: 3.4em;
    left: 3.4em;
}
#Plan3D /* img */ canvas {
    position: sticky;
    position: -webkit-sticky;
    top: 7em;
    left: 7em;
}

/* Permet de donner une couleur au texte selectionner */
/* Différente syntaxe mais pour plusieurs versions    */
::selection {
    background: #4b98f7;
    text-shadow: none;
}
::-moz-selection {
    background: #4b98f7;
    text-shadow: none;
}

/* ===================
    ALL: Orange Theme
   =================== */

/* bordur en dessous du header */
header {
    border-bottom: 20px solid #f17933;
}

/* Bordure au dessus du footer et du aparté */
footer,
.aparte {
    border-top: 20px solid #f17933;
} 

/* background + texte du header, footer et aparté */
header,
footer,
.aparte {
    background: #db4a0c;
    color :  rgb(42, 42, 46);
}


/* ==============
    MOBILE: Menu
   ============== */

nav {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: rgb(42, 42, 46);
    background: #f15f33;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(75, 73, 131);
}

/* ==============
    MOBILE: Main
   ============== */

main {
    padding: 30px 0 0 0; 
}

.aparte {
    margin: 3% 5%;
    padding: 0px 5% 10px 5%;
    
}

footer {
    padding: 20px 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav a:first-child {
        margin-left: 0;
    }

    nav a:last-child {
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    header,
    .aparte  {
        -webkit-box-shadow: 0 5px 10px rgb(116, 116, 116);
           -moz-box-shadow: 0 5px 10px rgb(116, 116, 116);
                box-shadow: 0 5px 10px rgb(116, 116, 116);
    }

}


label {
    display : block;
}
footer p {
    text-align: center;
}
.titre {
    font-size: 2em;
}

/* Changement de la couleur des inputs en fonction du focus */
input, button {
    border-radius : 5px;
    padding : 0 10px;
    margin : 0;
}
input:focus {
    background : rgb(201, 201, 201);
    outline : none;
}